CK_Sync/Web References/WebFeature/Feature.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.mapgis.com.cn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.mapgis.com.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.mapgis.com.cn/">
      <s:element name="AddFeature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strRegionCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSubjectType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDataYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strScale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLayerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDotString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attField" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="attValue" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddFeatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddFeatureResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFeatureNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSolutionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strInputAtt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDotString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attField" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="attValue" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFeatureNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddFeatureNewResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelFeature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strRegionCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSubjectType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDataYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strScale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLayerName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lFeatureID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhere" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelFeatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelFeatureResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelFeatureNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSolutionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strInputAtt" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lFeatureID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhere" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelFeatureNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelFeatureNewResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFeature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strRegionCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSubjectType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDataYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strScale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLayerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDotString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fields" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="att" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="lFeatureID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhere" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFeatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateFeatureResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFeatureNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSolutionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strInputAtt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDotString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fields" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="att" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="lFeatureID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhere" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFeatureNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateFeatureNewResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFeatureAtt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strRegionCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSubjectType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDataYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strScale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLayerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDotString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fields" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="att" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="filterColumnsName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFeatureAttResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateFeatureAttResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFeatureAttNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSolutionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strInputAtt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDotString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fields" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="att" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="filterColumnsName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFeatureAttNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateFeatureAttNewResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateArea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDotString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateAreaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateAreaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculatePerimeter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDotString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculatePerimeterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculatePerimeterResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDotStringFromMapGIS67">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listFileStream" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="strFileType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDotStringFromMapGIS67Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDotStringFromMapGIS67Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDotStringFromDWG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listFileStream" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="strLayer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDotStringFromDWGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDotStringFromDWGResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLayerAtt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strRegionCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSubjectType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDataYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strScale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLayerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strKeyWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strColumnList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nPageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nPageIndex" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhere" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrder" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLayerAttResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLayerAttResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLayerAttNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSolutionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strInputAtt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strKeyWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strColumnList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nPageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nPageIndex" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhere" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrder" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLayerAttNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLayerAttNewResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLayerAttCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strRegionCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSubjectType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDataYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strScale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLayerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhere" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLayerAttCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLayerAttCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLayerAttCountNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSolutionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strInputAtt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhere" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLayerAttCountNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLayerAttCountNewResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsFeatureExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strRegionCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSubjectType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDataYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strScale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLayerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhere" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsFeatureExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsFeatureExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsFeatureExistNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSolutionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strInputAtt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhere" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsFeatureExistNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsFeatureExistNewResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSolutionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strInputAtt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strFieldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMaxNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OverLay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSolutionName1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strInputAtt1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSolutionName2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strInputAtt2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OverLayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OverLayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddFeatureSoapIn">
    <wsdl:part name="parameters" element="tns:AddFeature" />
  </wsdl:message>
  <wsdl:message name="AddFeatureSoapOut">
    <wsdl:part name="parameters" element="tns:AddFeatureResponse" />
  </wsdl:message>
  <wsdl:message name="AddFeatureNewSoapIn">
    <wsdl:part name="parameters" element="tns:AddFeatureNew" />
  </wsdl:message>
  <wsdl:message name="AddFeatureNewSoapOut">
    <wsdl:part name="parameters" element="tns:AddFeatureNewResponse" />
  </wsdl:message>
  <wsdl:message name="DelFeatureSoapIn">
    <wsdl:part name="parameters" element="tns:DelFeature" />
  </wsdl:message>
  <wsdl:message name="DelFeatureSoapOut">
    <wsdl:part name="parameters" element="tns:DelFeatureResponse" />
  </wsdl:message>
  <wsdl:message name="DelFeatureNewSoapIn">
    <wsdl:part name="parameters" element="tns:DelFeatureNew" />
  </wsdl:message>
  <wsdl:message name="DelFeatureNewSoapOut">
    <wsdl:part name="parameters" element="tns:DelFeatureNewResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFeatureSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFeature" />
  </wsdl:message>
  <wsdl:message name="UpdateFeatureSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFeatureResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFeatureNewSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFeatureNew" />
  </wsdl:message>
  <wsdl:message name="UpdateFeatureNewSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFeatureNewResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFeatureAttSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFeatureAtt" />
  </wsdl:message>
  <wsdl:message name="UpdateFeatureAttSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFeatureAttResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFeatureAttNewSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFeatureAttNew" />
  </wsdl:message>
  <wsdl:message name="UpdateFeatureAttNewSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFeatureAttNewResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateAreaSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateArea" />
  </wsdl:message>
  <wsdl:message name="CalculateAreaSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateAreaResponse" />
  </wsdl:message>
  <wsdl:message name="CalculatePerimeterSoapIn">
    <wsdl:part name="parameters" element="tns:CalculatePerimeter" />
  </wsdl:message>
  <wsdl:message name="CalculatePerimeterSoapOut">
    <wsdl:part name="parameters" element="tns:CalculatePerimeterResponse" />
  </wsdl:message>
  <wsdl:message name="GetDotStringFromMapGIS67SoapIn">
    <wsdl:part name="parameters" element="tns:GetDotStringFromMapGIS67" />
  </wsdl:message>
  <wsdl:message name="GetDotStringFromMapGIS67SoapOut">
    <wsdl:part name="parameters" element="tns:GetDotStringFromMapGIS67Response" />
  </wsdl:message>
  <wsdl:message name="GetDotStringFromDWGSoapIn">
    <wsdl:part name="parameters" element="tns:GetDotStringFromDWG" />
  </wsdl:message>
  <wsdl:message name="GetDotStringFromDWGSoapOut">
    <wsdl:part name="parameters" element="tns:GetDotStringFromDWGResponse" />
  </wsdl:message>
  <wsdl:message name="GetLayerAttSoapIn">
    <wsdl:part name="parameters" element="tns:GetLayerAtt" />
  </wsdl:message>
  <wsdl:message name="GetLayerAttSoapOut">
    <wsdl:part name="parameters" element="tns:GetLayerAttResponse" />
  </wsdl:message>
  <wsdl:message name="GetLayerAttNewSoapIn">
    <wsdl:part name="parameters" element="tns:GetLayerAttNew" />
  </wsdl:message>
  <wsdl:message name="GetLayerAttNewSoapOut">
    <wsdl:part name="parameters" element="tns:GetLayerAttNewResponse" />
  </wsdl:message>
  <wsdl:message name="GetLayerAttCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetLayerAttCount" />
  </wsdl:message>
  <wsdl:message name="GetLayerAttCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetLayerAttCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetLayerAttCountNewSoapIn">
    <wsdl:part name="parameters" element="tns:GetLayerAttCountNew" />
  </wsdl:message>
  <wsdl:message name="GetLayerAttCountNewSoapOut">
    <wsdl:part name="parameters" element="tns:GetLayerAttCountNewResponse" />
  </wsdl:message>
  <wsdl:message name="IsFeatureExistSoapIn">
    <wsdl:part name="parameters" element="tns:IsFeatureExist" />
  </wsdl:message>
  <wsdl:message name="IsFeatureExistSoapOut">
    <wsdl:part name="parameters" element="tns:IsFeatureExistResponse" />
  </wsdl:message>
  <wsdl:message name="IsFeatureExistNewSoapIn">
    <wsdl:part name="parameters" element="tns:IsFeatureExistNew" />
  </wsdl:message>
  <wsdl:message name="IsFeatureExistNewSoapOut">
    <wsdl:part name="parameters" element="tns:IsFeatureExistNewResponse" />
  </wsdl:message>
  <wsdl:message name="GetMaxNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaxNo" />
  </wsdl:message>
  <wsdl:message name="GetMaxNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaxNoResponse" />
  </wsdl:message>
  <wsdl:message name="OverLaySoapIn">
    <wsdl:part name="parameters" element="tns:OverLay" />
  </wsdl:message>
  <wsdl:message name="OverLaySoapOut">
    <wsdl:part name="parameters" element="tns:OverLayResponse" />
  </wsdl:message>
  <wsdl:portType name="FeatureSoap">
    <wsdl:operation name="AddFeature">
      <wsdl:input message="tns:AddFeatureSoapIn" />
      <wsdl:output message="tns:AddFeatureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFeatureNew">
      <wsdl:input message="tns:AddFeatureNewSoapIn" />
      <wsdl:output message="tns:AddFeatureNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelFeature">
      <wsdl:input message="tns:DelFeatureSoapIn" />
      <wsdl:output message="tns:DelFeatureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelFeatureNew">
      <wsdl:input message="tns:DelFeatureNewSoapIn" />
      <wsdl:output message="tns:DelFeatureNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFeature">
      <wsdl:input message="tns:UpdateFeatureSoapIn" />
      <wsdl:output message="tns:UpdateFeatureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFeatureNew">
      <wsdl:input message="tns:UpdateFeatureNewSoapIn" />
      <wsdl:output message="tns:UpdateFeatureNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFeatureAtt">
      <wsdl:input message="tns:UpdateFeatureAttSoapIn" />
      <wsdl:output message="tns:UpdateFeatureAttSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFeatureAttNew">
      <wsdl:input message="tns:UpdateFeatureAttNewSoapIn" />
      <wsdl:output message="tns:UpdateFeatureAttNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateArea">
      <wsdl:input message="tns:CalculateAreaSoapIn" />
      <wsdl:output message="tns:CalculateAreaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculatePerimeter">
      <wsdl:input message="tns:CalculatePerimeterSoapIn" />
      <wsdl:output message="tns:CalculatePerimeterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDotStringFromMapGIS67">
      <wsdl:input message="tns:GetDotStringFromMapGIS67SoapIn" />
      <wsdl:output message="tns:GetDotStringFromMapGIS67SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDotStringFromDWG">
      <wsdl:input message="tns:GetDotStringFromDWGSoapIn" />
      <wsdl:output message="tns:GetDotStringFromDWGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLayerAtt">
      <wsdl:input message="tns:GetLayerAttSoapIn" />
      <wsdl:output message="tns:GetLayerAttSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLayerAttNew">
      <wsdl:input message="tns:GetLayerAttNewSoapIn" />
      <wsdl:output message="tns:GetLayerAttNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLayerAttCount">
      <wsdl:input message="tns:GetLayerAttCountSoapIn" />
      <wsdl:output message="tns:GetLayerAttCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLayerAttCountNew">
      <wsdl:input message="tns:GetLayerAttCountNewSoapIn" />
      <wsdl:output message="tns:GetLayerAttCountNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsFeatureExist">
      <wsdl:input message="tns:IsFeatureExistSoapIn" />
      <wsdl:output message="tns:IsFeatureExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsFeatureExistNew">
      <wsdl:input message="tns:IsFeatureExistNewSoapIn" />
      <wsdl:output message="tns:IsFeatureExistNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxNo">
      <wsdl:input message="tns:GetMaxNoSoapIn" />
      <wsdl:output message="tns:GetMaxNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OverLay">
      <wsdl:input message="tns:OverLaySoapIn" />
      <wsdl:output message="tns:OverLaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FeatureSoap" type="tns:FeatureSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFeature">
      <soap:operation soapAction="http://www.mapgis.com.cn/AddFeature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFeatureNew">
      <soap:operation soapAction="http://www.mapgis.com.cn/AddFeatureNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelFeature">
      <soap:operation soapAction="http://www.mapgis.com.cn/DelFeature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelFeatureNew">
      <soap:operation soapAction="http://www.mapgis.com.cn/DelFeatureNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFeature">
      <soap:operation soapAction="http://www.mapgis.com.cn/UpdateFeature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFeatureNew">
      <soap:operation soapAction="http://www.mapgis.com.cn/UpdateFeatureNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFeatureAtt">
      <soap:operation soapAction="http://www.mapgis.com.cn/UpdateFeatureAtt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFeatureAttNew">
      <soap:operation soapAction="http://www.mapgis.com.cn/UpdateFeatureAttNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateArea">
      <soap:operation soapAction="http://www.mapgis.com.cn/CalculateArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculatePerimeter">
      <soap:operation soapAction="http://www.mapgis.com.cn/CalculatePerimeter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDotStringFromMapGIS67">
      <soap:operation soapAction="http://www.mapgis.com.cn/GetDotStringFromMapGIS67" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDotStringFromDWG">
      <soap:operation soapAction="http://www.mapgis.com.cn/GetDotStringFromDWG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLayerAtt">
      <soap:operation soapAction="http://www.mapgis.com.cn/GetLayerAtt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLayerAttNew">
      <soap:operation soapAction="http://www.mapgis.com.cn/GetLayerAttNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLayerAttCount">
      <soap:operation soapAction="http://www.mapgis.com.cn/GetLayerAttCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLayerAttCountNew">
      <soap:operation soapAction="http://www.mapgis.com.cn/GetLayerAttCountNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsFeatureExist">
      <soap:operation soapAction="http://www.mapgis.com.cn/IsFeatureExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsFeatureExistNew">
      <soap:operation soapAction="http://www.mapgis.com.cn/IsFeatureExistNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxNo">
      <soap:operation soapAction="http://www.mapgis.com.cn/GetMaxNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OverLay">
      <soap:operation soapAction="http://www.mapgis.com.cn/OverLay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FeatureSoap12" type="tns:FeatureSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFeature">
      <soap12:operation soapAction="http://www.mapgis.com.cn/AddFeature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFeatureNew">
      <soap12:operation soapAction="http://www.mapgis.com.cn/AddFeatureNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelFeature">
      <soap12:operation soapAction="http://www.mapgis.com.cn/DelFeature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelFeatureNew">
      <soap12:operation soapAction="http://www.mapgis.com.cn/DelFeatureNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFeature">
      <soap12:operation soapAction="http://www.mapgis.com.cn/UpdateFeature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFeatureNew">
      <soap12:operation soapAction="http://www.mapgis.com.cn/UpdateFeatureNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFeatureAtt">
      <soap12:operation soapAction="http://www.mapgis.com.cn/UpdateFeatureAtt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFeatureAttNew">
      <soap12:operation soapAction="http://www.mapgis.com.cn/UpdateFeatureAttNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateArea">
      <soap12:operation soapAction="http://www.mapgis.com.cn/CalculateArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculatePerimeter">
      <soap12:operation soapAction="http://www.mapgis.com.cn/CalculatePerimeter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDotStringFromMapGIS67">
      <soap12:operation soapAction="http://www.mapgis.com.cn/GetDotStringFromMapGIS67" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDotStringFromDWG">
      <soap12:operation soapAction="http://www.mapgis.com.cn/GetDotStringFromDWG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLayerAtt">
      <soap12:operation soapAction="http://www.mapgis.com.cn/GetLayerAtt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLayerAttNew">
      <soap12:operation soapAction="http://www.mapgis.com.cn/GetLayerAttNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLayerAttCount">
      <soap12:operation soapAction="http://www.mapgis.com.cn/GetLayerAttCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLayerAttCountNew">
      <soap12:operation soapAction="http://www.mapgis.com.cn/GetLayerAttCountNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsFeatureExist">
      <soap12:operation soapAction="http://www.mapgis.com.cn/IsFeatureExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsFeatureExistNew">
      <soap12:operation soapAction="http://www.mapgis.com.cn/IsFeatureExistNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxNo">
      <soap12:operation soapAction="http://www.mapgis.com.cn/GetMaxNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OverLay">
      <soap12:operation soapAction="http://www.mapgis.com.cn/OverLay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Feature">
    <wsdl:port name="FeatureSoap" binding="tns:FeatureSoap">
      <soap:address location="http://192.168.154.130/IGSLandService/Feature.asmx" />
    </wsdl:port>
    <wsdl:port name="FeatureSoap12" binding="tns:FeatureSoap12">
      <soap12:address location="http://192.168.154.130/IGSLandService/Feature.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>